   <form class="form blogpost-form">
      <div class="form-group">
        <label for="blogpost-title">Blog Post title:</label>
        <input class="form-input" type="text" id="blogpost-title" name="blogpost-title" />
      </div>
      <div class="form-group">
        <label for="blogpost-content">Content:</label>
        <textarea class="form-input" id="blogpost-content" name="blogpost-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>